* {
        margin: 0;
        border: 0;
        padding: 0;
}

#main {
        width: 100%;
        height: 100%;
        padding: 15px;
}

#picture {
        width: 10%;
        height: 6%;
        float: left;
}

#video canvas.drawingBuffer,
video.drawingBuffer {
        margin-left: -640px;
}

#stream {
        position: absolute;
        float: left;
}
