* {
        margin: 0;
        border: 0;
        padding: 0;
}

#main {
        width: 100%;
        height: 100%;
}

#picture {
        float: left;
}


#stream {
        position: absolute;
        width: 640px;
        height: 480px;
        float: left;
}
