/* scan */

#photo {
        position: absolute;
        float: left;
        top: 490px;
        min-width: 640px;
        min-height: 480px;
}

#video canvas,
video {
        float: left;
        width: 640px;
        height: 480px;
}

#video canvas.drawingBuffer,
video.drawingBuffer {
        display: none;
}


@media (max-width:1200px) {
        #video canvas,
        video {
                width: 100%;
                height: 100%;
        }

        #image {
                display: none;
        }
 
}
